.App {
  align-items: center;
  position: absolute;
  text-align: center;
  min-height: 100vh;
  width: 100vw;
  background-image: url("./images/background.jpeg");
  background-size: cover;
  background-attachment: fixed;
  font-family: sans-serif;
}

.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Times New Roman";
  font-size: calc(20px + 1vmin);
  height: 10vh;
  width: 100vw;
  color: rgb(55, 55, 55);
  background-color: rgba(59, 111, 69, 0.5);
}
.app-header:hover {
  cursor: pointer;
}

#logo {
  margin-right: 1vw;
}

.tables {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.table {
  width: 35vw;
  max-width: 400px;
  min-width: 300px;
  margin: 5vh;
  font-size: calc(12px + 1vmin);
  border: 2px solid black;
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-around;
  background-color: rgba(98, 102, 162, 0.3);
  border-bottom: 2px solid black;
}

.body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4vh;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  border-radius: 2px;
}

.rank {
  width: 7.5vw;
}

.breed {
  width: 20vw;
}

.download {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

#download-button {
  background-color: transparent;
  height: 4vh;
  border-radius: 8px;
  border: 3px solid black;
}
#download-button:hover {
  background-color: rgb(177, 177, 235);
  border: 3px solid rgb(117, 117, 163);
}

#alert-close {
  display: flex;
  justify-content: center;
}

#alert-close-button {
  border: 2px solid grey;
  border-radius: 8px;
}
