.App {
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  text-align: center;
  min-height: 100vh;
  background-image: url("./images/background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: sans-serif;
}

#app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Times New Roman";
  font-size: calc(20px + 1vmin);
  height: 10vh;
  color: rgb(55, 55, 55);
  background-color: rgba(59, 111, 69, 0.5);
}

#app-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
#app-title:hover {
  cursor: pointer;
}

#logo {
  margin-right: 10px;
}

.tables {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.table {
  width: 35vw;
  max-width: 400px;
  min-width: 280px;
  margin: 4vw;
  height: 100%;
  font-size: calc(13px + 1vmin);
  border: 2px solid black;
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-around;
  background-color: rgba(98, 102, 162, 0.3);
  border-bottom: 2px solid black;
}

.body {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4vh;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  border-radius: 2px;
}
.row:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.dragging {
  background-color: rgba(0, 0, 0, 0.05);
}

.rank {
  width: 7.5vw;
}

.breed {
  width: 23vw;
}

.download {
  display: flex;
  justify-content: center;
  margin-top: 3vh;
  margin-bottom: 5vh;
}

#download-button {
  background-color: transparent;
  font-size: calc(13px + 1vmin);
  padding: calc(5px + 0.5vmin);
  border-radius: 7px;
  border: 2px solid rgb(67, 67, 67);
}
#download-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#alert-close {
  display: flex;
  justify-content: center;
}

#alert-close-button {
  border: 2px solid grey;
  border-radius: 8px;
}
