.App {
  text-align: center;
}

.table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dog {
  border: 2px solid black;
  width: 70vw;
  max-width: 500px;
  margin-bottom: 1vh;
  font-size: calc(10px + 2vmin);
}
